body {
    padding-top: 0;
}
.navbar-inverse {
    background: none;
    border: none;
}
.navbar .col-xs-12, .navbar .col-sm-9 {
    background: #d3d3d3;
    border: 3px solid #000;
}
.navbar-inverse .col-xs-12 .navbar-brand:focus, .navbar-inverse .col-xs-12 .navbar-brand:hover,
.navbar-inverse .col-sm-9 .navbar-brand:focus, .navbar-inverse .col-sm-9.navbar-brand:hover {
    color: #000;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #000;
}
.navbar-inverse .navbar-brand {
    color: #000;
}
.navbar-inverse .navbar-nav>li>a {
    color: #000;
}
.container {
    width: 1020px;
}