<table class="side-bar-table" border="0" cellspacing="0" bordercolor="#999" rules="groups">
    <thead>
    <tr>
        <th>№</th><th>Тип</th><th>Баллы</th>
    </tr>
    </thead>
    <tbody>
    {{#models}}
    {{#attributes}}
    <tr class="task-item" id="qn{{view_number}}">
        <td>{{#plus1}}{{@index}}{{/plus1}}</td>
        <td>{{type}}</td>
        <td>{{#sum answer_points}} {{.}} {{/sum}}</td>
    </tr>
    {{/attributes}}
    {{/models}}
    </tbody>
</table>